# Part I - Ford Bike Dataset Exploration Title
## By Rellika Kisyula

## Introduction
The Ford GoBike dataset contains anonymized trip data for the bike-sharing system from June 2017 to April 2019. <p style="color:red"> **However, I decided to only use the data in the year 2018 (January 2018 to December 2018).**</p> The data includes information on individual bike rides such as trip duration, start and end time, start and end station, bike ID, and user type. Additionally, demographic data such as age, gender, and membership type is provided for some users.

- `duration_sec`: The duration of the bike ride in seconds
- `start_time`: The date and time the bike ride started
- `end_time`: The date and time the bike ride ended
- `start_station_id`: The ID number of the station where the ride started
- `start_station_name`: The name of the station where the ride started
- `start_station_latitude`: The latitude of the station where the ride started
- `start_station_longitude`: The longitude of the station where the ride started
- `end_station_id`: The ID number of the station where the ride ended
- `end_station_name`: The name of the station where the ride ended
- `end_station_latitude`: The latitude of the station where the ride ended
- `end_station_longitude`: The longitude of the station where the ride ended
- `bike_id`: The ID number of the bike used in the ride
- `user_type`: The type of user, either "Subscriber" (members with monthly or annual memberships) or "Customer" (casual riders who - `purchase` a single ride or day pass)
- `member_birth_year`: The birth year of the user (for subscribers only)
- `member_gender`: The gender of the user (for subscribers only)

These columns provide information on the duration and location of the bike ride, the bike and station used, and some demographic information on the users.

### Extra Packages
We will be calculating the distance between the start and end stations. To install this package, run the following command in the terminal:

`pip install haversine`

In [ ]:
%pip install haversine

### Importing Packages

In [80]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline
# import the haversine package
from haversine import haversine

### Base Color
The base color for this project is `#1F77B4`.

In [81]:
base_color = sb.color_palette()[0]

### Downloading the Dataset
I manually downloaded the datasets from the [System Data | Bay Wheels | Lyft](https://www.lyft.com/bikes/bay-wheels/system-data) page. The datasets were in the form of a zip file. I extracted the zip files and saved the csv files in the `data` folder as this notebook. The zip files are in `data/zip_files` folder.

### Unzipping the Dataset
Imagine you have zip files stored in `./data/zip_files `with names like 201801-fordgobike-tripdata.csv.zip, 201802-fordgobike-tripdata.csv.zip, etc. You can use the following code to extract all the zip files into the `./data/data_files` folder.

In [82]:
# Unzip zip files in the data/zip_files folder into the data/data_files folder
import zipfile
import os

# create a list of all zip files in the zip_files folder
zip_files = os.listdir('./data/zip_files')

# loop through the list of zip files
for zip_file in zip_files:
    # create a full path to the zip file
    zip_path = './data/zip_files/' + zip_file
    # extract the zip file to the data folder
    with zipfile.ZipFile(zip_path, 'r') as zip_ref:
        zip_ref.extractall('./data/data_files')

> **Note:** The code above is adapted from [How to unzip multiple files in a folder using Python?](https://stackoverflow.com/questions/3451111/unzipping-files-in-python)

> **Note:** The folder `data/data_files` is not included in the repository because it contains the extracted csv files. These csv files can be generated by running the code above.

### Combining the Datasets
I combined the datasets into one csv file by reading all the csv files in the `./data/data_files` folder into an individual pandas dataframe. I then saved the combined those individual dataframe into a csv file in the `data` folder as `bike_data.csv`.

In [83]:
# Read the data files from the data/data_files folder
january = pd.read_csv('./data/data_files/201801-fordgobike-tripdata.csv')
january.sample(5)

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
6296,178,2018-01-30 16:55:08.8090,2018-01-30 16:58:07.8020,182,19th Street BART Station,37.809013,-122.268247,180,Telegraph Ave at 23rd St,37.812678,-122.268773,152,Subscriber,1989.0,Male,No
17535,1742,2018-01-27 12:09:03.7450,2018-01-27 12:38:06.4410,119,18th St at Noe St,37.761047,-122.432642,70,Central Ave at Fell St,37.773311,-122.444293,1327,Customer,NaN,NaN,No
32689,582,2018-01-23 08:49:26.5720,2018-01-23 08:59:08.7800,122,19th St at Mission St,37.760299,-122.418892,60,8th St at Ringold St,37.774520,-122.409449,353,Subscriber,1991.0,Male,No
37241,610,2018-01-22 08:01:13.1060,2018-01-22 08:11:23.8990,89,Division St at Potrero Ave,37.769218,-122.407646,5,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,45,Customer,NaN,NaN,No
93468,7699,2018-01-01 19:53:16.4740,2018-01-01 22:01:35.9910,21,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,8,The Embarcadero at Vallejo St,37.799953,-122.398525,2945,Customer,NaN,NaN,No

In [84]:
september = pd.read_csv('./data/data_files/201809-fordgobike-tripdata.csv')
september.sample(5)

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
90984,193,2018-09-17 08:31:51.8550,2018-09-17 08:35:05.1720,318.0,San Carlos St at Market St,37.330698,-121.888979,310.0,San Fernando St at 4th St,37.335885,-121.885660,2529,Subscriber,1990.0,Male,Yes
83135,657,2018-09-18 08:52:05.4800,2018-09-18 09:03:03.2710,14.0,Clay St at Battery St,37.795001,-122.399970,6.0,The Embarcadero at Sansome St,37.804770,-122.403234,1758,Customer,1953.0,Male,No
173018,787,2018-09-04 12:46:41.4690,2018-09-04 12:59:48.7740,30.0,San Francisco Caltrain (Townsend St at 4th St),37.776598,-122.395282,13.0,Commercial St at Montgomery St,37.794231,-122.402923,3895,Subscriber,1989.0,Male,No
177339,154,2018-09-03 16:32:55.4910,2018-09-03 16:35:30.3950,52.0,McAllister St at Baker St,37.777416,-122.441838,53.0,Grove St at Divisadero,37.775946,-122.437777,2028,Subscriber,1993.0,Male,No
93243,242,2018-09-16 17:01:01.8580,2018-09-16 17:05:04.3830,281.0,9th St at San Fernando St,37.338395,-121.880797,311.0,Paseo De San Antonio at 2nd St,37.333798,-121.886943,1588,Customer,1984.0,Male,No

**Instead of reading the data files one by one, we can use a for loop to read all the files**

In [85]:
# create a list of all data files in the data_files folder
data_files = os.listdir('./data/data_files')

In [86]:
# Function to loop through the data files and read them into a dataframe
def read_data_files( data_files):
    # create an empty list to store the dataframes
    dataframe_list = []
    # loop through the list of data files
    for data_file in data_files:
        # ignore if it is not a csv file
        if data_file[-3:] != 'csv':
            continue
        # create a full path to the data file
        data_path = './data/data_files/' + data_file
        # read the data file and append it to the list of dataframes
        dataframe_list.append(pd.read_csv(data_path))
    # return the list of dataframes
    return dataframe_list

In [87]:
dataframes = read_data_files(data_files)
# concatenate the dataframes into one dataframe
bike_data = pd.concat(dataframes, ignore_index=True)

In [88]:
bike_data.sample(5)

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
1339572,640,2018-08-13 21:20:05.9510,2018-08-13 21:30:45.9680,195.0,Bay Pl at Vernon St,37.812314,-122.260779,162.0,Franklin St at 9th St,37.800516,-122.272080,1250,Subscriber,1988.0,Male,Yes
1156212,321,2018-07-12 17:01:13.5340,2018-07-12 17:06:34.8930,37.0,2nd St at Folsom St,37.785000,-122.395936,30.0,San Francisco Caltrain (Townsend St at 4th St),37.776598,-122.395282,3326,Subscriber,1981.0,Male,No
1095755,564,2018-07-21 15:10:58.6860,2018-07-21 15:20:23.1020,81.0,Berry St at 4th St,37.775880,-122.393170,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,1618,Subscriber,1988.0,Male,No
1802763,859,2018-04-16 16:43:20.6470,2018-04-16 16:57:40.1910,58.0,Market St at 10th St,37.776619,-122.417385,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,647,Subscriber,1969.0,Male,No
669614,414,2018-05-23 17:41:52.0110,2018-05-23 17:48:46.3290,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,6.0,The Embarcadero at Sansome St,37.804770,-122.403234,3854,Customer,NaN,NaN,No

In [89]:
bike_data.shape

(1863721, 16)

> To confirm if all the rows of each dataset was added onto the dataframe, lets check the number of rows in the combined dataframe and the sum of the number of rows in each individual dataframe.

In [90]:
number_of_rows = []
# Loop through the list of dataframes and print the shape of each dataframe
for dataframe in dataframes:
    print(dataframe.shape)
    number_of_rows.append(dataframe.shape[0])
print(number_of_rows)
# Confirm that sum of the number of rows in each dataframe is equal to the number of rows in the concatenated dataframe
sum(number_of_rows) == bike_data.shape[0]

(106718, 16)
(134135, 16)
(186217, 16)
(195968, 16)
(179125, 16)
(131363, 16)
(94802, 16)
(199222, 16)
(192162, 16)
(201458, 16)
(111382, 16)
(131169, 16)
[106718, 134135, 186217, 195968, 179125, 131363, 94802, 199222, 192162, 201458, 111382, 131169]

True

## Data Preparation

**The following are the changes made to the dataset before saving it:**
1. Get the distance travelled from the coordinates using `haversine` package
2. Get the age of the users from the `member_birth_year` column
3. Extract the hour, day, month and year from the `start_time`
4. Creating period of day (`period_of_day`) column from the `hour` column

### 1: Calcultate distance travelled using the `haversine` package
I decided to find the distance the riders rode. I used the Haversine formula to calculate the distance between the start and end points of the ride.

In [91]:
# Create a new column `distance` which is the distance between the start and end station
bike_data['distance'] = bike_data.apply(lambda x: haversine((x['start_station_latitude'], x['start_station_longitude']),
                                                                    (x['end_station_latitude'], x['end_station_longitude'])), axis=1)

### 2: Calculate the age of the users

In [92]:
# Create a new column `member_age` which is the difference between the 2018 and `member_birth_year`
bike_data['member_age'] = 2018 - bike_data.member_birth_year
# Select the column member_birth_year and member_age
bike_data[['member_birth_year', 'member_age']].sample(10)

         member_birth_year  member_age
9942                1976.0        42.0
1628966             1964.0        54.0
1295504             1983.0        35.0
1228287             1986.0        32.0
709065              1987.0        31.0
663747              1986.0        32.0
1123852             1977.0        41.0
1107968             1972.0        46.0
1299553             1979.0        39.0
750046              1988.0        30.0

### Extract the hour, day, month and year from the `start_time` column

In [93]:
bike_data['start_time'] = pd.to_datetime(bike_data['start_time'])
# Extract the month name from the start_time column
bike_data['month_of_year'] = bike_data['start_time'].dt.strftime('%B')

# Extract the day of the week from the start_time column
bike_data['day_of_week'] = bike_data['start_time'].dt.strftime('%A')

# Extract the hour from the start_time column
bike_data['hour'] = bike_data['start_time'].dt.strftime('%H')

In [94]:
# Select the columns start_time, month, day_of_week, hour
bike_data[['start_time', 'month_of_year', 'day_of_week', 'hour']].sample(10)

                     start_time month_of_year day_of_week hour
266797  2018-09-26 17:35:23.713     September   Wednesday   17
929505  2018-12-02 15:08:45.386      December      Sunday   15
881349  2018-12-12 09:13:47.971      December   Wednesday   09
348427  2018-09-13 20:42:35.645     September    Thursday   20
1448320 2018-10-27 10:23:38.654       October    Saturday   10
1174052 2018-07-10 11:40:11.508          July     Tuesday   11
1184773 2018-07-09 06:42:40.909          July      Monday   06
750054  2018-05-09 19:45:40.943           May   Wednesday   19
1013831 2018-01-06 18:30:34.609       January    Saturday   18
266822  2018-09-26 17:39:55.348     September   Wednesday   17

In [95]:
# Using the `month_of_year` column, perform a value count
bike_data.month_of_year.value_counts()

October      201458
July         199222
June         195968
August       192162
September    186217
May          179125
November     134135
December     131363
April        131169
March        111382
February     106718
January       94802
Name: month_of_year, dtype: int64

### Creating period of day (`period_of_day`) column from the `hour` column

As mentioned above, I want to get the period of the day, that is either **Early Morning**, **Morning**, **Afternoon**, **Evening**, **Night**, **Late Night**, **Midnight**. I will use the `start_time` column to extract the hour of the day and then categorize it into the above periods.

In [96]:
# Using the `hour`, generate a new column `period_of_day` which is the period of the day
# Early Morning: 3am - 6am, Morning: 6am - 12pm, Afternoon: 12pm - 3pm, Evening: 3pm - 6pm, Night: 6pm - 9pm, Late Night: 9pm - 12am, Midnight: 12am - 3am
bike_data['period_of_day'] = bike_data['hour'].apply(lambda x: 'Early Morning' if 3 <= int(x) < 6 else 'Morning' if 6 <= int(x) < 12 else 'Afternoon' if 12 <= int(x) < 15 else 'Evening' if 15 <= int(x) < 18 else 'Night' if 18 <= int(x) < 21 else 'Late Night' if 21 <= int(x) < 24 else 'Midnight')

In [99]:
# Select the columns start_time, hour, period_of_day
bike_data[['start_time', 'hour', 'period_of_day']].sample(10)

                     start_time hour period_of_day
1471246 2018-10-23 21:22:20.858   21    Late Night
937152  2018-01-31 08:48:50.630   08       Morning
1650605 2018-03-25 13:53:34.639   13     Afternoon
1374284 2018-08-08 09:52:35.797   09       Morning
607563  2018-06-03 19:11:00.031   19         Night
1074940 2018-07-24 19:03:20.307   19         Night
641284  2018-05-29 10:37:30.453   10       Morning
1455010 2018-10-26 08:17:33.150   08       Morning
1418982 2018-08-01 08:02:10.306   08       Morning
1099078 2018-07-20 19:36:41.853   19         Night

In [100]:
# Use the period_of_day and perform a value count
bike_data.period_of_day.value_counts()

Morning          669598
Evening          459806
Night            341831
Afternoon        261127
Late Night        96657
Midnight          19815
Early Morning     14887
Name: period_of_day, dtype: int64

### Saving the `bike_data` dataframe to csv file.
I saved the combined dataframe as `bike_data.csv` in the `data` folder.
```python
# Save the combined dataframe as bike_data.csv in the data folder
bike_data.to_csv('data/bike_data.csv', index=False)
```

In [101]:
# Save the combined dataframe as bike_data.csv in the data folder
bike_data.to_csv('data/bike_data.csv', index=False)